@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");
/* Universal styles */

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

/* Color and font variables */

:root {
  --main-color: #fa7104;
  --second-color: #e05404;
  --text-color: #060414;
  --container-color: #efe8e0;
  --bg-color: #f7f7f7;
  --text-alter-color: #818181;
}

/*=============== UNIVERSAL STYLES ===============*/

/* === * === */


/*=============== COLOR AND FONT VARIABLES ===============*/

/* === :root === */


/*=============== SCROLLBAR ===============*/

/* === html::-webkit-scrollbar === */
html::-webkit-scrollbar{
  width: 0.5rem;
  background: transparent;
}
/* === html::-webkit-scrollbar-thumb === */
html::-webkit-scrollbar-thumb{
  background: var(--main-color);
}

/*=============== BODY STYLES ===============*/

/* === body === */
body{
  color: var(--text-color);
  background: var(--bg-color);
}
/* === .content === */
.content{
  overflow: hidden;
}
/* === a === */
a{
  text-decoration: none;
}
/* === img === */
img{
  width: 100%;
}
/* === section === */
section{
  padding: 3rem 0 2rem;
}
/* === .container === */
.container{
  max-width: 1060px;
  margin: auto;
  width: 100%;
}

/*=============== HEADER STYLE ===============*/

/* === header === */
header{
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* === .nav === */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color);
  padding: 17px 20px;
  border-radius: 0.8rem;
}
/* === .logo === */
.logo{
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--bg-color);
}
/* === .logo span === */
.logo span{
  color: var(--main-color);
}
/* === .navbar === */
.navbar{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
/* === .nav-link, .nav-link:hover === */
.nav-link{
  font-size: 1rem;
  color: var(--text-alter-color);
  transition: all 0.4s;
}
.nav-link:hover{
  color: var(--bg-color);
}
/* === .nav-icons === */
.nav-icons{
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* === .nav-icons .bx === */
.nav-icons .bx{
  color: var(--bg-color);
  font-size: 20px;
}
/* === .nav-icons .user-icon, .nav-icons .user-icon:hover === */
.nav-icons .user-icon{
  padding: 7px;
  background: var(--main-color);
  border-radius: 50%;
  transition: all 0.4s;
}
.nav-icons .user-icon:hover{
  background: var(--second-color);
}
/*=============== MENU-ICON ===============*/

/* === .menu-icon === */
.menu-icon{
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
/* === .menu-icon div === */
.menu-icon div{
  display: block;
  background: var(--bg-color);
  height: 2px;
  width: 23px;
  transition: 0.3s;
}
/* === .move .line1 === */
.move .line1{
  transform: rotate(-45deg) translate(-5px , 5px);
}
/* === .move .line2 === */
.move .line2{
  opacity: 0;
}
/* === .move .line3 === */
.move .line3{
  transform: rotate(45deg) translate(-5px , -5px);
}

/*=============== HOME STYLE ===============*/

/* === .home === */
.home{
  background: #dd4201;
  min-height: 670px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12rem !important;
}
/* === .home-content === */
.home-content{
  z-index: 1;
}
/* === .home-img === */
.home-img{
  position: relative;
}
/* === .home-img img === */
.home-img img{
  width: 100%;
}
/* === .home-img::before === */
.home-img::before{
  content: "Taycan";
  width: 100%;
  font-size: 11rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  position: absolute;
  text-align: center;
  top: -80px;
  color: #ffb18d;
  z-index: -1;
  transform: translateX(-60px);
  transition: all 2.5s ease;
  animation: FromRight 2.5s ease forwards;
}
/* === @keyframes FromRight === */
@keyframes FromRight {
  0%{
    opacity: 0;
    transform: translatex(-60px);
  }
  100%{
    opacity: 1;
    transform: translatex(0);
  }
}
/* === .input-form === */
.input-form {
  max-width: 680px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  background: var(--bg-color);
  padding: 12px;
  border-radius: 0.5rem;
}
/* === .input-box === */
.input-box{
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}
/* === .input-box span === */
.input-box span{
  font-weight: 500;
}
/* === .input-box input === */
.input-box input{
  outline: none;
  border: none;
  color: var(--text-alter-color);
  background: transparent;
  font-size: 1rem;
  margin-top: 7px;
}
/* === .input-border === */
.input-border{
  border-left: 1px solid var(--text-alter-color);
  padding-left: 5px;
}
/* === .search-btn, .search-btn:hover === */


/*=============== TRENDING STYLE ===============*/

/* === .heading === */

/* === .heading h2 === */

/* === .trending-content === */

/* === .trend-box, .trend-box:hover === */

/* === .trend-box h4, .trend-box:hover h4 === */

/* === .trend-box img === */

/* === .trend-box h3 === */

/* === .trend-box p === */


/*=============== RENTALS STYLE ===============*/

/* === .rentals .heading === */

/* === .heading p === */

/* === .rentals-content === */

/* === .rental-box, .rental-box:hover === */

/* === .rental-top === */

/* === .rental-top h3 === */

/* === .rental-top .bx, .rental-top .bx:hover === */

/* === .rental-box img === */

/* === .rental-box h2 === */

/* === .rental-box h4 === */

/* === .price-btn === */

/* === .price-btn p === */

/* === .price-btn p span === */

/* === .rental-btn, .rental-btn:hover === */


/*=============== TEAM STYLE ===============*/

/* === .team-content === */

/* === .team-box img === */

/* === .team-box h2 === */

/* === .team-box span === */

/* === .team-box p === */


/*=============== REVIEWS STYLE ===============*/

/* === .reviews-content === */

/* === .t-box === */

/* === .t-box .stars === */

/* === .t-box p === */

/* === .profile === */

/* === .profile img === */

/* === .profile-data h3 === */

/* === .profile-data span === */


/*=============== NEWSLETTER STYLE ===============*/

/* === .newsletter === */

/* === .newsletter h2 === */

/* === .newsletter p === */

/* === .newsletter form === */

/* === .newsletter form input === */

/* === .newsletter form .email === */

/* === .newsletter form input::placeholder === */

/* === .newsletter form .s-btn, .newsletter form .s-btn:hover === */


/*=============== FOOTER STYLE ===============*/

/* === .footer === */

/* === .footer-content === */

/* === .footer-box === */

/* === .social === */

/* === .social a .bx, .social a .bx:hover === */

/* === .footer-box h3 === */

/* === .footer-box p === */

/* === .footer-box p span === */

/* === .footer-box a === */

/* === .copyright === */


/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* === @media (max-width: 1080px) === */

/* === .container === */


/* For medium devices */

/* === @media (max-width: 970px) === */

/* === section === */

/* === .home-img::before === */


/* === @media (max-width: 880px) === */

/* === .nav === */

/* === .logo === */

/* === .home === */

/* === .home-img::before === */

/* === .footer-content === */


/* For small devices */

/* === @media (max-width: 620px) === */

/* === header === */

/* === .nav-icons .bx === */

/* === .menu-icon === */

/* === .navbar === */

/* === .nav-link === */

/* === .open-menu === */

/* === .home === */

/* === .home-img::before === */

/* === .newsletter h2 === */

/* === .newsletter p === */


/* === @media (max-width: 477px) === */

/* === .home-img === */

/* === .home-img::before === */

/* === .input-form === */

/* === .input-box === */

/* === .input-border === */

/* === .heading h2 === */

/* === .reviews-content, .footer-content === */


/* === @media (max-width: 380px) === */

/* === .home-img::before === */ 